body {
  font-family: "Lato", sans-serif;
  color: rgb(110, 110, 110);
  background-color: #e9e9e9;
}

.ctent {
  margin: auto;
  /* width:70%; */
}

/* -------- POST --------- */
.post {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: left;
  background-color: #ffffff;
  padding: 1em;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.post img {
  width: 49%;
  height: 40%;
  cursor: pointer;
}

.postheader {
  height: 90%;
  width: 50%;
  float: right;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
}

.postheader a {
  padding-left: 6px;
  text-decoration: none;
  font-size: 16px;
  color: #424242;
  display: block;
}

.postheader a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.load-comments:hover {
  cursor: pointer;
}

.postheader p {
  padding-left: 6px;
  text-decoration: none;
  font-size: 14px;
  color: rgb(102, 102, 102);
}

.postheader .post-header {
  padding-left: inherit;
  border-bottom: 2px solid lightgray;
}

.main {
  margin-left: 160px;
  /* Same as the width of the postheader */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .postheader {
    padding-top: 15px;
  }

  .postheader a {
    font-size: 18px;
  }
}

/* COMMENTS */
.load-comments {
  size: 1em;
  color: rgb(196, 196, 196);
  font-style: italic;
  font-family: serif;
  background: inherit;
  border: none;
  cursor: default;
  margin-top: 1em;
}

.comments p {
  color: black;
}

.comments a {
  color: darkgray;
}

/* --------------- TOP NAVIGATION MENU ------------- */
.topnav {
  width: auto;
  height: auto;
  padding: .5em;
}

.topnav .input {
  display: inline-block;
  margin-top: inherit;
  width: auto;
  align-self: center;
}

.topnav a {
  margin-top: inherit;
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  height: inherit;
  padding: .87em 1em;
  border-radius: 3px;
}

.topnav a:hover {
  cursor: pointer;
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  padding: 6px;
  margin: 8px;
  font-size: 17px;
  border: none;
}

/* PROFILE */

.profile {
  display: inline-block;
  align-self: center;
  width: auto;
  margin-left: 45%;
  text-align: center;
  color: black;
}

.username {
  font-size: 30px;
}

.bio {
  font-size: 15px;
}

/** DIALOGUE BOX */

#dialogueBox {
  position: fixed;
  bottom: 8px;
  width: 75%;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  margin-left: 7.5%;
  height: 15%;
  border: solid 2px black;
  border-radius: 5px;
  align-self: center;
  background-color: rgb(255, 255, 255);
  color: black;
  z-index: 100;
}

#almapic {
  position: fixed;
  left: 10%;
  bottom: 2px;
  width: 10%;
  height: 15%;
  background-image: url("images/alma_icon.PNG");
  background-size: 100%;
  background-repeat: no-repeat;
}

#dialogue {
  border: 5px black;
  padding-left: 15%;
}

#pageCover {
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

/** Modal */
#modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0, 0.8); 
  transition: .3s;
}

#modal #modalimg {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 50%;
  height: 100%;
  max-height: 70%;
  transition: .3s;
}